<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jegy Részletek</title>
</head>
<body>
<header>
    <h1>Jegy Részletek</h1>
</header>
<section>
    <h2 th:text="${ticket.name}"></h2>
    <img th:src="@{${ticket.imageUrl}}" alt="Jegy Kép">
    <p th:text="${ticket.description}"></p>
    <p th:text="'Ár: ' + ${ticket.price} + ' Ft'"></p>
    <a href="/tickets">Vissza</a>
</section>
<footer>
    <p>&copy; 2024 KrankenWagen Racing Webshop</p>
</footer>
</body>
</html>
