<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma 1 Jegyvásárlás</title>
</head>
<body>
<header>
    <h1>Forma 1 Jegyvásárlás</h1>
    <a href="loged_in.html" class="back-button">Vissza</a>
</header>
<section>
    <h2>Válassza ki a jegytípust</h2>
    <div class="ticket-category">
        <div class="ticket" th:each="ticket : ${tickets}">
            <img th:src="@{${ticket.imageUrl}}" alt="Normál jegy">
            <h3 th:text="${ticket.name}"></h3>
            <ul class="info-list">
                <li th:text="${ticket.description}"></li>
            </ul>
            <p th:text="'Ár: ' + ${ticket.price} + ' Ft'"></p>
            <a th:href="@{'/tickets/' + ${ticket.id}}">Vásárlás</a>
        </div>
    </div>
</section>
<footer>
    <p>&copy; 2024 KrankenWagen Racing Webshop</p>
</footer>
</body>
</html>
